<% include partials/header %> <!-- includes the content from header.ejs -->

<h1>Landing page</h1>

<p>Welcome to YelpCamp</p>

<a href="/campgrounds">View all the campgrounds</a>

<% include partials/footer %>